{# START creator tabpanel #}
<div role="tabpanel" class="tab-pane" id="creator">
 <h3>Music Recording Management</h3>
 {# START creator-accordion panel-group #}
 <div class="panel-group" id="creator-accordion" role="tablist" aria-multiselectable="true">
 {# START creator-panel #}
  <div class="panel panel-default">
    {# START creator-headingOne #}
    <div class="panel-heading" role="tab" id="creator-headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#creator-accordion" 
            href="#creator-collapseOne" aria-expanded="true" aria-controls="creator-collapseOne">
         New Creator 
        </a>
      </h4>
    {# END creator-headingOne #}
    </div>
    {# START creator-collapseOne panel-collapse #}
    <div id="creator-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="creator-headingOne">
      {# START creator-collapseOne body #} 
      <div class="panel-body">
        {# START Creator-type ROW #}
         <div class="row">
          <section class="col-md-4">
           <div class="form-group">
            <label for="creatorType">Creator Type</label>
            <select class="form-control" id="creatorType" name="type">
             <option>Person</option>
             <option>Organization</option>
            </select>
           </div>
          </section>
          <section class="col-md-4">
           <div class="form-group">
             <input type="submit" class="btn btn-success" value="Save" id="save-new-creator"></input>
           </div>
          </section>
        {# END Creator-type ROW #}
        </div>
        {# START Person and Org ROW #}
        <div class="row">
        <section class="col-md-6" >
          <h3>Person</h3>
          <form >
             <fieldset id="person-info">
             <div class="form-group">
               <label for="name"> Name</label>
               <input type="text" class="form-control" name="name" id="person-name" placeholder="name">
             </div>
             <div class="form-group">
               <label for="name">Given (first) Name</label>
               <input type="text" class="form-control" name="givenName" id="givenName" placeholder="givenName">
             </div>
             <div class="form-group">
               <label for="name">Family (last) Name</label>
               <input type="text" class="form-control" name="familyName" id="familyName" placeholder="familyName">
             </div>
             </fieldset>
          </form>
        </section>
        <section class="col-md-6">
          <h3>Organization</h3>
          <form >
            <fieldset id="org-info" disabled>
             <div class="form-group">
               <label for="name">Name</label>
               <input type="text" class="form-control" name="name" id="org-name" placeholder="name">
             </div>
            </fieldset>
          </form>
        </section>
        {# END Person and Org ROW #}
       </div>
      {# END creator-collapseOne body #} 
      </div>
    {# END creator-collapseOne panel-collapse #}
    </div>
  {# END creator-panel #}
  </div>
 {# START panel for creator-h2 #} 
  <div class="panel panel-default">
  {# END panel for creator-h2 #} 
  </div>
    {# START creator-headingTwo #}
    <div class="panel-heading" role="tab" id="creator-headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#creator-accordion" 
          href="#creator-collapseTwo" aria-expanded="false" aria-controls="creator-collapseTwo">
         Edit/Remove Existing Creators
        </a>
      </h4>
    {# END creator-headingTwo #}
    </div>
    {# START creator-collapseTwo panel-collapse #}
    <div id="creator-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="creator-headingTwo">
      {# START crud-existing panel-body #} 
      <div class="panel-body">
       <h3>People</h3>
       <table class="table table-bordered table-striped">
         <tr>
           <th>Name</th>
           <th colspan="2">Action</th>
         </tr>
         {% for person in persons %}
         <tr>
           <td>{{ person.get('name').get('value') }}</td>
           <td><button class="btn btn-sm">Edit</button></td>
           <td><button class="btn btn-sm btn-danger">Remove</button></td>
         </tr>
         {% endfor %}
       </table>
       <h3>Organization</h3>
       <table class="table table-bordered table-striped">
         <tr>
           <th>Name</th>
           <th colspan="2" class="center-block">Action</th>
         </tr>
       </table>
      {# END crud-existing panel-body #} 
      </div>
    {# END creator-collapseTwo panel-collapse #}
    </div>
 {# END creator-accordion panel-group #}
 </div>
{# END creator tabpanel #}
</div>
