<div role="tabpanel" class="tab-pane" id="creator">
  <h3>Music Recording Management</h3>
<div class="panel-group" id="creator-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="creator-headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#creator-accordion" 
            href="#creator-collapseOne" aria-expanded="true" aria-controls="creator-collapseOne">
         Create New Creator 
        </a>
      </h4>
    </div>
    <div id="creator-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="creator-headingOne">
      <div class="panel-body">
        <div class="row">
        <section class="col-md-8">
        <div class="form-group">
           <label for="name">Website</label>
           <input type="url" class="form-control" name="url" id="url" placeholder="URL">
        </div>
        <div class="form-group">
            <label for="loc">Library of Congress URI</label>
               <input type="url" class="form-control" name="loc" id="loc" placeholder="LOC">
        </div>
        <div class="form-group">
            <label for="viaf">VIAF URI</label>
            <input type="url" class="form-control" name="viaf" id="viaf" placeholder="VIAF">
            <button class="btn btn-default">Lookup</button>
        </div>
        </section>
        <section class="col-md-2">
          <div class="form-group">
           <label for="creatorType">Creator Type</label>

           <select class="form-control" id="creatorType">
            <option>Person</option>
            <option>Organization</option>
          </select>
          </div>
         <div class="form-group">
            <input type="submit" class="btn btn-success" value="Save" id="save-new-creator"></input>
         </div>
        </section>
        </div>
        <div class="row">
        <section class="col-md-6" >
          <h3>Person</h3>
          <form >
             <fieldset id="person-info">
             <div class="form-group">
               <label for="name"> Name</label>
               <input type="text" class="form-control" name="name" id="person-name" placeholder="name">
             </div>
             <div class="form-group">
               <label for="name">Given (first) Name</label>
               <input type="text" class="form-control" name="givenName" id="givenName" placeholder="givenName">
             </div>
             <div class="form-group">
               <label for="name">Family (last) Name</label>
               <input type="text" class="form-control" name="familyName" id="familyName" placeholder="familyName">
             </div>
             </fieldset>
          </form>
        </section>
        <section class="col-md-6">
          <h3>Organization</h3>
          <form >
            <fieldset id="org-info" disabled>
             <div class="form-group">
               <label for="name">Name</label>
               <input type="text" class="form-control" name="name" id="org-name" placeholder="name">
             </div>
            </fieldset>
          </form>
        </section>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="creator-headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#creator-accordion" 
          href="#creator-collapseTwo" aria-expanded="false" aria-controls="creator-collapseTwo">
         Edit Existing Creator 
        </a>
      </h4>
    </div>
    <div id="creator-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="creator-headingTwo">
      <div class="panel-body">
       Exit Existing Recording.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="creator-headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" 
           data-parent="#creator-accordion" href="#creator-collapseThree" aria-expanded="false" aria-controls="creator-collapseThree">
         Remove Existing Creator 
        </a>
      </h4>
    </div>
    <div id="creator-collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="creator-headingThree">
      <div class="panel-body">
      Remove Existing Recording.
      </div>
    </div>
  </div>
</div>
  
</div>

