<div role="tabpanel" class="tab-pane" id="music-recording">
  <h3>Music Recording Management</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Add New Recording 
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <form  id="new-music-recording" method="POST" action="create" enctype="multipart/form-data">
        <input type="hidden" name="type" value="MusicRecording">
        <input type="hidden" name="redirect" value="index">
        <section class="row">
          <div class="col-md-6">
             
             <div class="form-group">
               <label for="name">Name</label>
               <input type="text" class="form-control" name="http://schema.org/name" id="name" placeholder="name">
             </div>
             <div class="form-group">
               <label for="name">Alternative Name</label>
               <input type="text" class="form-control" name="http://schema.org/alternativeName" id="alt-name" 
                 placeholder="alternativeName">
             </div>
             <div class="form-group">
               <label for="datePublished">Date published</label>
               <select id="datePublished" name="http://schema.org/datePublished" class="form-control">
                 <option value=""></option>
                 {% for i in range(1900, today.year+1)|reverse %}
                 <option value="{{ i }}">{{ i }}</option>
                 {% endfor %}
               </select>
             </div>
           </div>
           <article class="col-md-4">
            <h4>Help</h4>
           </article>
        </section>
        <section class="row">
          <div class="col-md-6">
             <div class="form-group">
               <label for="name">Duration</label>
               <input type="text" class="form-control" name="http://schema.org/duration" id="duration" 
                 placeholder="Duration">
             </div>
             <div class="form-group">
               <label for="name">Music Medium</label>
               <input type="text" class="form-control" name="http://bibframe.org/vocab/musicMedium" id="alt-name" 
                 placeholder="Music Medium">
             </div>
          </div>
          <div class="col-md-6">
             <div class="form-group">
               <label for="name">Language</label>
               <select name="http://schema.org/inLanguage" id="inLanguage" class="form-control">
                 <option value="eng-us">English</option>
                 <option value="es-us">Spanish</option>
                 <option value="ger">German</option>
                 <option value="italian">Italian</option>
                 <option value="ger">German</option>
               </select>
             </div>
             <div class="form-group">
               <label for="name">ISRC Code</label>
               <input type="text" class="form-control" name="http://schema.org/isrcCode" id="isrcCode" 
                 placeholder="ISRC Code">
             </div>
          </div>
       </section>
       <section class="row">
          <div class="col-md-6">
               <a class="btn btn-sm btn-primary" data-toggle="modal" href="#add-creator-dlg">Add Creator</a>
               <a class="btn btn-sm btn-info" data-toggle="modal" href="#add-contributor-dlg">Add Contributor</a>
              <ul id="creators">
               </ul>
              <ul id="contributor">
               </ul>
         </div>
         <div class="col-md-4">
            <div class="form-group">
               <label for="music-file">Upload file</label>
               <input type="file" class="btn btn-default form-control" name="music-file"></input>
             </div>
          </div>
        </div>
       </section>
       <section class="row">
        <div class="col-md-3 col-md-offset-4">
             <div class="btn-group">
               <input type="submit" class="btn btn-success btn-lg" value="Save"></input>
               <input type="reset" class="btn btn-warning btn-lg" value="Reset"></input>

             </div>
        </section>
       </form>
       <br>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Edit Existing Recording 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       Exit Existing Recording.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Remove Existing Recording 
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
      Remove Existing Recording.
      </div>
    </div>
  </div>
</div>
</div>
{% include "snippets/select-creator-dlg.html" %}
