<div role="tabpanel" class="tab-pane" id="music-playlist">
  <h3>Music Playlist Management</h3>
<div class="panel-group" id="playlist-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="playlist-headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#playlist-accordion" 
           href="#playlist-collapseOne" aria-expanded="true" aria-controls="playlist-collapseOne">
          Add New Music Playlist 
        </a>
      </h4>
    </div>
    <div id="playlist-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="playlist-headingOne">
      <div class="panel-body">
       <input type="hidden" value="MusicPlaylist" name="type">
       <section class="row">
        <div class="col-md-6">
             <div class="form-group">
               <label for="playlist-name">Name</label>
               <input type="text" class="form-control" name="https://schema.org/name" id="playlist-name" placeholder="name">
             </div>
             <div class="form-group">
               <label for="itemList">Tracks</label>
               <button class="btn btn-default" data-target="#add-track-dlg" data-toggle="modal" data-track="playlist">Add</button>       
               <ul id="playlist-tracks"></ul>
             </div>
        </div>
        <article class="col-md-4">
          <h4>Help</h4>
        </article>
      </section>
      <h3>Canvas Course</h3>
       <section class="row">
         <div class="col-md-6">
           <h4>Select Existing Canvas Course</h4>
           <select id="existing-canvas">
             <option></option>
            {% for row in courses %}
             <option value="{{ row.subject.value }}">{{ row.name.value }}</option>
            {% endfor %}
           </select>
         </div>
         <div class="col-md-6">
           <a href='#add-course-dlg' class='btn btn-primary btn-lg' data-toggle="modal">Add Canvas Course</a>
         </div>
       </section>
       <section class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="btn-group" role="group" aria-label="...">
               <input type="submit" class="btn btn-success btn-lg" id="save-new-playlist" value="Save"></input>
               <input type="reset" class="btn btn-warning btn-lg"></input>
            </div>
          </div> 
       </section>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="playlist-headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#playlist-accordion" 
           href="#playlist-collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Edit/Remove Existing Canvas Courses &amp; Playlists 
        </a>
      </h4>
    </div>
    <div id="playlist-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="playlist-headingTwo">
      <div class="panel-body">
        <h3>Canvas Courses</h3>
        <table class="table table-striped table-bordered">
         <tr>
           <th>Name</th>
           <th>Canvas ID</th>
           <th>Start</th>
           <th>End</th>
           <th>Playlists</th>
           <th colspan="2">Action</th>
         </tr>
        {% for row in courses %}
         <tr>
           <td>{{ row.name.value }}</td>
           <td>{{ row.CanvasID.value }}</td>
           <td>{{ row.start.value }}</td>
           <td>{{ row.end.value }}</td>
           <td>{{ row.playListName.value }}</td>
           <td><button class="btn btn-sm">Edit</button></td>
           <td><button class="btn btn-sm btn-danger">Remove</button></td>
         </tr>
        {% endfor %}
        </table>
        <h3>Course Playlists</h3>

      </div>
    </div>
  </div>
 </div> 
</div>

