<div role="tabpanel" class="tab-pane" id="music-playlist">
  <h3>Music Playlist Management</h3>
<div class="panel-group" id="playlist-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="playlist-headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#playlist-accordion" 
           href="#playlist-collapseOne" aria-expanded="true" aria-controls="playlist-collapseOne">
          Add New Music Playlist 
        </a>
      </h4>
    </div>
    <div id="playlist-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="playlist-headingOne">
      <div class="panel-body">
       <input type="hidden" value="MusicPlaylist" name="type">
       <section class="row">
        <div class="col-md-6">
             <div class="form-group">
               <label for="playlist-name">Name</label>
               <input type="text" class="form-control" name="http://schema.org/name" id="playlist-name" placeholder="name">
             </div>
             <div class="form-group">
               <label for="itemList">Tracks</label>
               <button class="btn btn-default" data-target="#add-track-dlg" data-toggle="modal" data-track="playlist">Add</button>       
               <ul id="playlist-tracks"></ul>
             </div>
        </div>
        <article class="col-md-4">
          <h4>Help</h4>
        </article>
      </section>
      <h3>Canvas Course</h3>
       <section class="row">
         <div class="col-md-6">
           <h4>Select Existing Canvas Course</h4>
           <select id="existing-canvas">
             <option></option>
            {% for row in courses %}
             <option value="{{ row.subject.value }}">{{ row.name.value }}</option>
            {% endfor %}
           </select>
         </div>
         <div class="col-md-6">
           <h4>Create New Canvas Course</h4>
           <formset name="new_canvas_course">
            <div class="form-group">
               <label for="name">Name</label>
               <input type="text" class="form-control" name="name" id="canvas_name" placeholder="Name of Canvas Course">
            </div>
            <div class="form-group">
               <label for="name">Canvas ID</label>
               <input type="text" class="form-control" name="canvas_id" id="canvas_id" placeholder="Canvas ID">
            </div>
            <div class="form-group">
               <label for="name">Start Date</label>
               <input type="date" class="form-control" name="http://schema.org/startDate" id="startDate" placeholder="Block Start Date">
            </div>
            <div class="form-group">
               <label for="name">End Date</label>
               <input type="date" class="form-control" name="http://schema.org/endDate" id="endDate" placeholder="Block Start Date">
            </div> 
          </formset>
         </div>
       </section>
       <section class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="btn-group" role="group" aria-label="...">
               <input type="submit" class="btn btn-success btn-lg" id="save-new-playlist" value="Save"></input>
               <input type="reset" class="btn btn-warning btn-lg"></input>
            </div>
          </div> 
       </section>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="playlist-headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#playlist-accordion" 
           href="#playlist-collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Edit Existing Playlist 
        </a>
      </h4>
    </div>
    <div id="playlist-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="playlist-headingTwo">
      <div class="panel-body">
       Exit Existing Recording. Playlist
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="playlist-headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" 
         data-parent="#playlist-accordion" href="#playlist-collapseThree" aria-expanded="false" aria-controls="playlist-collapseThree">
         Remove Existing Recording 
        </a>
      </h4>
    </div>
    <div id="playlist-collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="playlist-headingThree">
      <div class="panel-body">
      Remove Existing Recording.
      </div>
    </div>
  </div>
</div>
  
</div>

