<div role="tabpanel" class="tab-pane" id="music-recording">
  <h3>Music Recording Management</h3>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Add New Recording 
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <section class="row">
        <form class="col-md-6" id="new-music-recording">
             <div class="form-group">
               <label for="name">Name</label>
               <input type="text" class="form-control" name="name" id="name" placeholder="name">
             </div>
             <div class="form-group">
               <label for="music-file">Upload file</label>
               <input type="file" class="btn btn-default" name="music-file"></input>
             </div>
             <div class="form-group">
               <label for="creator">Creator</label>
               <a href="#" class="btn btn-sm btn-primary">Add</a>
             </div>
             <div class="form-group">
               <label for="copyrightYear">Copyright Year</label>
               <select id="copyrightYear" name="copyrightYear" class="form-control">
                 <option value=""></option>
                 {% for i in range(1900, today.year+1)|reverse %}
                 <option value="{{ i }}">{{ i }}</option>
                 {% endfor %}
               </select>
             </div>
             <div class="form-group">
               <input type="submit" class="btn btn-success" value="Save"></input>
             </div>
        </form>
        <article class="col-md-4">
          <h4>Help</h4>
        </article>
        </section>
        <script>
         $('#new-music-recording').submit(function(event) {
           console.log("New music submit to server");
         });

        </script>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Edit Existing Recording 
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       Exit Existing Recording.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Remove Existing Recording 
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
      Remove Existing Recording.
      </div>
    </div>
  </div>
</div>
  
</div>

