<div class="modal fade" id="add-creator-dlg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Creator to Music Recording</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <section class='col-md-6'>
            <h2>Persons</h2>
            <select id="persons-list" class="form-control" multiple>
             {% for row in persons %}
               <option value="{{ row.subject.value }}">{{ row.name.value }}</option>
             {% endfor %}
            </select>
          </section>
          <section class='col-md-6'>
            <h2>Organizations</h2>
            <select id="orgs-list" class="form-control" multiple>
             {% for row in organizations %}
               <option value="{{ row.subject.value }}">{{ row.name.value }}</option>
             {% endfor %}
            </select>
          </section>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-creator-dlg-update">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

